<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quant</title>

    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
          rel="stylesheet">
    <link href="{% static "vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>首页</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'combine' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>组合配置</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'strategy' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>策略回测</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        {% if user.is_authenticated %}
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i href="logout" class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        {% else %}
                            <div class="row">
                                <a class="nav-link dropdown-toggle" href="{% url 'login' %}" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">登录</span>
                                </a>
                                <a class="nav-link dropdown-toggle" href="{% url 'register' %}" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">注册</span>
                                </a>
                            </div>
                        {% endif %}
                    </li>
                </ul>


            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- model parameters -->
                <!-- Content Row -->
                <div class="card border-left-primary form-group">
                    <div class="card-body shadow">
                        <div class="row align-items-center col-md-10">
                            <h7>模型类型：</h7>
                            <div class="dropdown mb-3" style="margin-top: 1%;margin-right: 1%;">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="model-types"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                        style="width: 120px;">
                                    {% if models %}
                                        {{ models.0 }}
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu animated--fade-in" aria-labelledby="model-types" id="models">
                                    {% for item in models %}
                                        <li><a class="dropdown-item">{{ item }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <h7>配置日期：</h7>
                            <input data-provide="datepicker" id="date" value="01/01/2019" class="form-control"
                                   style="width: 120px;margin-right: 20px;">
                            <h7>回溯时长：</h7>
                            <input type="number" class="form-control" id="date-back" value="30"
                                   style="width: 8%;margin-right: 20px;">
                            <!-- Small modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target=".bs-example-modal-sm">试算
                            </button>
                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="calculate-modal"
                                 aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" id="modal-title">

                                        </div>
                                        <div class="modal-body">
                                            计算结果：123
                                            <form>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label">Recipient:</label>
                                                    <input type="text" class="form-control" id="recipient-name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="control-label">Message:</label>
                                                    <textarea class="form-control" id="message-text"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row align-items-center col-md-10" id="model-parameters">
                            <div id="mean-mse-model" class="row col-md-10" style="margin-top: 1%;">
                                <h7 style="margin-top: 0.5%;">风险厌恶系数：</h7>
                                <input id="risk-hate" type="number" step="1" min="1" max="8" value="1"
                                       class="form-control"
                                       style="width: 8%;margin-right: 20px;">

                                <h7 style="margin-top: 0.5%;">无风险利率：</h7>
                                <input id="no-risk-rate" type="number" step="0.01" value="0.03" min="0" max="1"
                                       class="form-control"
                                       style="width: 8%;margin-right: 20px;">
                                {#                                <h7 style="margin-top: 0.5%;">预期收益率计算方法：</h7>#}
                                {#                                <div class="dropdown mb-4">#}
                                {#                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"#}
                                {#                                            id="expected-benefit"#}
                                {#                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"#}
                                {#                                            value="历史收益率均值法">#}
                                {#                                        历史收益率均值法#}
                                {#                                    </button>#}
                                {#                                    <ul class="dropdown-menu animated--fade-in" aria-labelledby="expected-benefit"#}
                                {#                                        id="calculation">#}
                                {#                                        <li><a class="dropdown-item">历史收益率均值法</a></li>#}
                                {#                                        <li><a class="dropdown-item">市场指数模型法</a></li>#}
                                {#                                    </ul>#}
                                {#                                </div>#}
                            </div>


                        </div>


                    </div>
                </div>


                <!-- stock pool -->
                <div class="card border-left-primary form-group">
                    <div class="card-body shadow">
                        <div id="stocks" class="row align-items-center">
                            <div class="col-md-2 col-xs-2">
                                <h6 class="align-items-center">股票池</h6>
                                <select id="unselected-stockPool" name="stocks" multiple class="form-control"
                                        style="height: 160px; margin-right: 20px;"></select>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <h7>待选股票</h7>
                                <select id="unselected-stocks" name="stocks" multiple class="form-control"
                                        style="height: 160px;"></select>
                            </div>
                            <div class="center-block control-buttons" style="margin-top: 1.6%; margin-left: 1%;">
                                <div class="row">
                                    <button type="button" id="stock-selectAll"
                                            class="btn btn-default btn-success btn-selectbox"><i
                                            class="fas fa-check"></i></button>
                                </div>
                                <div class="row">
                                    <button type="button" id="stock-selectOne"
                                            class="btn btn-default btn-primary btn-selectbox"><i
                                            class="fas fa-arrow-right"></i></button>
                                </div>
                                <div class="row">
                                    <button type="button" id="stock-removeOne"
                                            class="btn btn-default btn-primary btn-selectbox"><i
                                            class="fas fa-arrow-left"></i></button>
                                </div>
                                <div class="row">
                                    <button type="button" id="stock-removeAll"
                                            class="btn btn-default btn-danger btn-selectbox"><i
                                            class="fas fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-left: 1.2%;">
                                <h6>已选股票</h6>
                                <select id="selected-stocks" name="stocks" multiple class="form-control"
                                        style="height: 160px;"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-left-primary form-group">
                    <div class="card-body shadow">
                        <div class="row align-items-center col-md-4">
                            <h6>股票约束：</h6>
                            <div class="dropdown mb-3" style="margin-top: 0.5%;">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="restrict-types"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                        style="width: 120px;">
                                    个性化约束
                                </button>
                                <ul class="dropdown-menu animated--fade-in" aria-labelledby="restrict-types"
                                    id="restrict">
                                    <li><a class="dropdown-item">个性化约束</a></li>
                                    <li><a class="dropdown-item">统一约束</a></li>
                                </ul>
                            </div>
                        </div>

                        <div id="single-restrict" class="row col-md-8">
                            <h7 style="margin-top: 0.5%;">最小权重：</h7>
                            <input type="number" step="0.01" id="single-mini-weight" value="0" class="form-control"
                                   style="width: 100px;margin-right: 20px;">
                            <h7 style="margin-top: 0.5%;">最大权重：</h7>
                            <input type="number" step="0.01" id="single-maxi-weight" value="0.4" class="form-control"
                                   style="width: 100px;margin-right: 20px;">
                        </div>

                        <div id="restrict-stocks" class="row">
                            <div class="row col-md-10 form-group">
                                <div class="col-md-2">
                                    <h6>待配置股票集</h6>
                                    <select id="unselected-restrict-stocks" name="stocks" multiple
                                            class="form-control"
                                            style="height: 160px;"></select>
                                </div>
                                <div class="center-block control-buttons" style="margin-top: 2%;">
                                    <div>
                                        <button type="button" id="restrict-stock-selectAll"
                                                class="btn btn-default btn-success btn-selectbox"><i
                                                class="fas fa-check"></i></button>
                                    </div>
                                    <div>
                                        <button type="button" id="restrict-stock-selectOne"
                                                class="btn btn-default btn-primary btn-selectbox"><i
                                                class="fas fa-arrow-right"></i></button>
                                    </div>
                                    <div>
                                        <button type="button" id="restrict-stock-removeOne"
                                                class="btn btn-default btn-primary btn-selectbox"><i
                                                class="fas fa-arrow-left"></i></button>
                                    </div>
                                    <div>
                                        <button type="button" id="restrict-stock-removeAll"
                                                class="btn btn-default btn-danger btn-selectbox"><i
                                                class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h6>待约束股票集</h6>
                                    <select id="selected-restrict-stocks" name="stocks" multiple
                                            class="form-control"
                                            style="height: 160px;"></select>
                                </div>
                            </div>
                            <div class="row col-md-10 form-group">
                                <h7 style="margin-top: 0.5%;">取值范围：</h7>
                                <input type="number" step="0.01" id="restrict-mini-weight" value="0"
                                       class="form-control"
                                       style="width: 100px;margin-right: 1%;">
                                <h7 style="margin-top: 0.5%;margin-right: 1%;">至</h7>
                                <input type="number" step="0.01" id="restrict-maxi-weight" value="0.4"
                                       class="form-control"
                                       style="width: 100px;margin-right: 1%;">
                                <btn type="button" id="add-restrict" class="btn btn-default btn-success"
                                     style="margin-right: 2%;">
                                    添加约束
                                </btn>
                            </div>

                            <div class="col-md-5 table-responsive">
                                <table class="table table-bordered" id="restrict-table" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>约束类型</th>
                                        <th>约束条件</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- submit -->
                <div class="form-group">
                    <btn type="button" id="submit-btn" class="btn btn-default btn-success col-md-1">
                        submit
                    </btn>
                </div>

                <div class="card border-left-primary form-group" style="height: 1000px;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- End of Main Content -->


        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>


<!-- Core plugin JavaScript-->
<script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>


<!-- Custom scripts for all pages-->
<script src="{% static "js/sb-admin-2.min.js" %}"></script>

<!-- Page level plugins -->
<ul id="msg" name="msg"></ul>

<!-- Page level custom scripts -->
<script src="{% static "js/quant.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>
<script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var stockPool = getStockPool();
        var restrictPool = [];
        console.log(stockPool);
        initializeStockPool(stockPool);
        var modelType = "均值方差模型";
        var restrictType = "个性化约束";

        document.getElementById("unselected-stockPool").onchange = function () {
            unselectedStockPoolOnChange(this, stockPool);
        };

        $('#calculate-modal').on('show.bs.modal', function (event) {
            var modal = $(this);
            var date = new Date();
            console.log("123");
            $('#modal-title').text('Now ' + date.getHours() + ": " + date.getMinutes() + ": " + date.getSeconds());
        });

        $('#restrict-table').DataTable();
        var restrictTable = $('#restrict-table').DataTable();

        $('#restrict-table').on('dblclick', 'tbody tr', function () {
            restrictTable.row(this).remove().draw(true);
        });

        $("#stock-selectOne").on('click', function () {
            selectOneStock();
        });
        $("#stock-removeOne").on('click', function () {
            removeOneStock();
        });
        $("#stock-selectAll").on('click', function () {
            selectAllStocks();
        });
        $("#stock-removeAll").on('click', function () {
            removeAllStocks();
        });
        $('#unselected-stocks').dblclick(function () {
            selectOneStock();
        });
        $('#selected-stocks').dblclick(function () {
            removeOneStock();
        });

        $('#restrict-stock-selectOne').on('click', function () {
            selectOneStockRestrict();
        });
        $('#restrict-stock-selectAll').on('click', function () {
            selectAllStocksRestrict();
        });
        $('#restrict-stock-removeOne').on('click', function () {
            removeOneStockRestrict();
        });
        $('#restrict-stock-removeAll').on('click', function () {
            removeAllStocksRestrict();
        });

        $('#unselected-restrict-stocks').dblclick(function () {
            selectOneStockRestrict();
        });
        $('#selected-restrict-stocks').dblclick(function () {
            removeOneStockRestrict();
        });

        $(function () {
            $("#models").on('click', 'li a', function () {
                $("#model-types").text($(this).text());
                if ($("#model-types").text() === "均值方差模型" && modelType !== "均值方差模型") {
                    {#$("#restrict-stocks").hide();#}
                    $("#mean-mse-model").toggle("slow");
                    modelType = "均值方差模型";
                }
                if ($("#model-types").text() !== "均值方差模型" && modelType === "均值方差模型") {
                    $("#mean-mse-model").toggle("slow");
                    modelType = $(this).text();
                }
            });
            $("#restrict").on('click', 'li a', function () {
                $("#restrict-types").text($(this).text());
                if ($("#restrict-types").text() === "统一约束" && restrictType !== "统一约束") {
                    $("#restrict-stocks").hide();
                    $("#single-restrict").toggle("slow");
                    restrictType = "统一约束";
                }
                if ($("#restrict-types").text() === "个性化约束" && restrictType !== "个性化约束") {
                    $("#single-restrict").hide();
                    $("#restrict-stocks").toggle("slow");
                    restrictType = "个性化约束";
                }
            });

            $("#calculation").on('click', 'li a', function () {
                $("#expected-benefit").text($(this).text());
            });

            $('#add-restrict').on('click', function () {
                var restricts = getAllOptions("selected-restrict-stocks");
                var miniWeight = document.getElementById("restrict-mini-weight").value;
                var maxiWeight = document.getElementById("restrict-maxi-weight").value;
                for (var key in restricts) {
                    restrictTable.row.add(["股票比例约束", miniWeight + "<=" + key + "<=" + maxiWeight]).draw();
                }
            });
        });

        $("#single-restrict").hide();
        {#$("#mean-mse-model").hide();#}

        $('.datepicker').datepicker({
            language: 'zh-CN',
            autoclose: true,
            todayHighlight: true,
            format: 'yyyy/mm/dd',
        });

        $('#submit-btn').click(function (e) {
            e.preventDefault();
            console.log("123");
            // your statements;
            var selectedStocks = getAllOptions("selected-stocks");
            var selectedRestrictStocks = getAllOptions("selected-restrict-stocks");
            var modelType = $("#model-types").text();
            var date = document.getElementById("date").value;
            var dateBack = document.getElementById("date-back").value;
            var miniWeight = document.getElementById("mini-weight").value;
            var maxiWeight = document.getElementById("maxi-weight").value;
            console.log(selectedStocks);
            console.log(selectedRestrictStocks);
            console.log(modelType);
            console.log(date);
            console.log(dateBack);
            console.log(miniWeight);
            console.log(maxiWeight);

        });

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    });
</script>

</body>

</html>